body {
    background-color: #e9ebee;
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 16px;
    margin: 0 auto;
    max-width: 800px;
   
  }

  table{
    border-collapse: collapse;
  }
  td,
  th{
    padding: 10px;
    border-bottom: 2px solid #8ebf42;
    text-align: center;
  }
.me{
  text-align: center;
}

h1{
  color: black;
}